.story {
    list-style: none;
    padding: 10px;
    color: #1d3557;
    border-bottom: 1px #e63946 solid;
    width: 95%;
}

.story > a {
    color: #1d3557;
    text-decoration: none;
}

.date {
    color: #457b9d;
}